body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 0px;
}

.home_header{
  background: url("/img/travel_home_banner.jpg") 
  no-repeat center center;
  background-size: cover;
  width:100%;
  height:12rem; 
}

.title-text{
  height: 45px !important;
}

.title-area{
  background-color:black;
}
.title-text:visited{
  text-decoration: none;
}

.submitForm{
  padding-top: 20px;
}
